<h1>New Article</h1>

<!--
Pass the object :article to this form.
f is the form builder object
Adding    url: articles_path    sets the POST from the submit button to
  <form action="/articles", instead of "/articles/new".
    This path "/articles" is defined under Prefix in    $ rails routes

Note! Here, we can simplify the form_for b/c  @article is a resource corresponding to a full set of RESTful routes.
From:     form_for :article, url: articles_path do |f|
To:       form_for @article do |f|
-->

<%= render 'form' %>

<!-- This creates:    <a href="/articles">Back</a>   -->
<%= link_to 'Back', articles_path %>
