<h1>Hello, Rails!</h1>

<!-- This creates:    <a href="/articles">My Blog</a> -->
<%= link_to( 'My Blog', controller: 'articles') %>
<!-- This creates exactly the same thing -->
<%= link_to 'My Blog', articles_path %>
